{% comment %} {% extends 'base.html' %}
{% load humanize %}

{% load staticfiles %}
 <!doctype html>
 <html>
 <head>
        <title>My Hello Web App Project</title> 
        <link rel="stylesheet" href="{% static 'css/style.css' %}" />
       </head>
        <body>
        <h1>Hello World!</h1>
        <p>I am a basic website.</p>
        </body>
        </html>


       {% block title %}
Homepage - {{ block.super }} {% endblock title %}
{% block content %}
<h1>Hello World!</h1>
<!-- <p>There are {{ number|apnumber }} dogs!</p> -->


<p>This is my name: {{ villains|title }}</p>


{% endblock content %} {% endcomment %}
{% extends 'base.html' %} 
{% block title %}
       Homepage - {{ block.super }} 
       {% endblock title %}

{% block content %}
       {% for villains in villains %} 
       <h2>{{ villains.name }}</h2> 
       <p>{{ villains.description }}</p> 
       {% endfor %}
{% endblock content %}




